*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* UNIVERSAL */

body,
html {
    height: 100%;
    width: 100%;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

html {
    font-size: 62.5% !important;
}

body {
    box-sizing: border-box;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    background-color: #1d2227;
    overflow: scroll;
}
